* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
  font-family: "Noto Sans TC", sans-serif;
}

header {
  background-color: #e4e4e4;
  height: 15vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  h1 {
    padding: 0.5rem;
  }
  button {
    height: 2.5rem;
    width: 10rem;
    border: none;
    background-color: white;
    border-radius: 2rem;
    font-size: 1.5rem;
    cursor: pointer;
  }
}

main {
  background-color: #696969;
  height: 55vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .cardBorder {
    background-color: #505050;
    height: 45vh;
    width: 30rem;
    border-radius: 2rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .card {
      background-color: #d9d9d9;
      height: 35vh;
      width: 20rem;
      border-radius: 2rem;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      h1 {
        font-size: 4rem;
      }

      h3 {
        font-size: 3rem;
        color: #696969;
      }
    }
  }
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .footer1 {
    height: 20vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    .pre {
      border: none;
      background-color: #d9d9d9;
      height: 30%;
      width: 10vw;
      border-radius: 2rem;
      font-size: 1.5rem;
      cursor: pointer;
    }
    .speak {
      margin: 0 5rem;
      border: none;
      background-color: #bebebe;
      height: 2rem;
      width: 2rem;
      border-radius: 1rem;
      cursor: pointer;
    }
    .next {
      border: none;
      background-color: #d9d9d9;
      height: 30%;
      width: 10vw;
      border-radius: 2rem;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }

  .footer2 {
    button {
      border: none;
      background-color: #d9d9d9;
      height: 2.5rem;
      width: 10rem;
      border-radius: 2rem;
      font-size: 1.5rem;
      cursor: pointer;
    }
  }
}
